.navbar .navbar-nav .nav-link.active{
    color:  #e0041c !important;
}

p a{
    color:  #e0041c !important;
    text-decoration: none;
}

.content a{
    color:  #e0041c !important;
    text-decoration: none;
}

.py-14 {
  padding-top: 1.4rem;
  padding-bottom: 1.1rem;
}

.accordion-content a{
    padding: 0 1.3rem !important;
    padding-top: 0 !important;
}

.centered-title {
    text-align: center;
    padding-bottom: 40px;
}

