.navbar .navbar-nav .nav-link.active{
    color:  #e0041c !important;
}

p a{
    color:  #e0041c !important;
    text-decoration: none;
}

.content a{
    color:  #e0041c !important;
    text-decoration: none;
}

.py-14 {
  padding-top: 1.4rem;
  padding-bottom: 1.1rem;
}

.accordion-content a{
    padding: 0 1.3rem !important;
    padding-top: 0 !important;
}

.centered-title {
    text-align: center;
    padding-bottom: 40px;
}

.centered-title ul {
    list-style-type: disc; /* Ensure bullet points appear */
    padding-left: 20px; /* Add space for bullet points */
    margin: 0; /* Optional: Remove default margin */
    overflow: hidden; /* Ensure contents fit within the specified width */
}

.centered-title li {
    text-align: left; /* Align list items to the left */
    margin-bottom: 5px; /* Optional: Add space between items */
}

.website-info {
    text-align: center;
    font-size: 0.6em;
    padding-bottom: 20px;
}

.mb-2 {
  margin-bottom: 0rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.social-icons li a {
  display: flex;
  height: 2.25rem;
  width: 2.25rem;
  align-items: center;
  justify-content: center;
  background-color: #ffffff !important;
  color: #000000 !important;
  text-align: center;
  margin-right: 20px;
}

.theme-switcher label {
    margin-right: 8px;
  }

.mb-8 p{
    text-align: justify;
  }


.memorial_book {
  width: 720px;
  margin: 0 auto;
  text-align: justify;
}

.memorial_book_title {
  width: 720px;
  margin: 0 auto;
  text-align: center;
}
