{{ define "main" }}
<!--{{ partial "page-header" . }}-->

  <section class="section">
    <div class="container">

      <div class="centered-title">
        <h2>Directors</h2>
      </div>
      <div class="row">
        {{ with .Site.GetPage "/members/volz" }}
          <div class="md:col-6 lg:col-6 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/nomura" }}
          <div class="md:col-6 lg:col-6 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>

      <div class="centered-title">
        <h2>Administration</h2>
      </div>
      <div class="row">
        {{ with .Site.GetPage "/members/hirano" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card-mini" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/hiranos" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card-mini" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/tobe" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card-mini" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/kaneko" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card-mini" . }}
          </div>
        {{ end }}
      </div>

      <div class="centered-title">
        <h2>Researchers</h2>
      </div>

      <div class="row">
        {{ with .Site.GetPage "/members/genot" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/clement" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/jalabert" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/hwang" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/ordonez" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/leclerc" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/salles" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>

      <div class="centered-title">
        <h2>Postdoctoral researchers</h2>
      </div>

      <div class="row">
        {{ with .Site.GetPage "/members/bonfante" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/cacheux" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/grall" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/li" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/roy" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/papa" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/diego" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>

      <div class="centered-title">
        <h2>PhD students</h2>
      </div>

      <div class="row">
        {{ with .Site.GetPage "/members/beaubois" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/faure" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/ajiyel" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/cheslet" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>

      <div class="centered-title">
        <h2>Visiting Research Interns</h2>
      </div>

      <div class="row">
        {{ with .Site.GetPage "/members/deteix" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/quenan" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>


      <div class="centered-title">
        <h2>Collaborators</h2>
      </div>

      <div class="row">
        {{ with .Site.GetPage "/members/duenki" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/coral" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/lambert" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
        {{ with .Site.GetPage "/members/eiler" }}
          <div class="md:col-6 lg:col-3 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>

    </div>
  </section>
{{ end }}
